body{
    /* height: 300px;
    width: 200px;
    background-color: red;
    transform: skewX(50deg); */
    display:flex ;
    justify-content: center;
    background-color: cyan;
    height:100vh;
       align-items: center;
    
}

#container{
    height: 300px;
    width: 300px;
    border: 3px solid white;
 
    
}

#box{
    height: 50px;
    width: 50px;
    background-color: red;
    transition-duration: 5s;
    transition-timing-function:ease;
    transform-origin: top left;
}

#container:hover #box{
    transform:rotate(36000deg) translate(250px,250px)
}